<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-xs-8">
      <h4 class="mwg_nav_title">Michael Geatz</h4>
    </div>
    <div class="col-xs-4">
      <!--<select onchange={{!action 'changeTheme' value='target.value'}}>
        <option class="head_option" value="theme_light">LIGHT</option>
        <option class="head_option" value="theme_dark">DARK</option>
        <option class="head_option" value="theme_green">GREEN</option>
        <option class="head_option" value="theme_orange">ORANGE</option>
        <option class="head_option" value="theme_blue">BLUE</option>
        <option class="head_option" value="theme_gold">GOLD</option>
      </select>-->
    </div>
  </div>
</header>