<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="col-xs-12">
      <h4>{{#link-to "contact"}}Contact Information{{/link-to}}</h4>
    </div>
  </div>
</footer>