<header class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-xs-12">
      <h4 class="mwg_nav_title">
        {{#link-to 'main'}}Michael Geatz&nbsp;&nbsp;|&nbsp;&nbsp;612-655-3606{{/link-to}}
      </h4>
    </div>
  </div>
</header>
