<header>

  {{#bs-navbar fluid=true
               position="static-top"
               collapsed=true
               onCollapse=(action (mut collapsed) true)
               onExpand=(action (mut collapsed) false) as |navbar|}}
    <div class="navbar-header">
      {{navbar.toggle}}
      <h4 class="mwg_nav_title">
        {{#link-to 'main'}}&nbsp;&nbsp;Michael Geatz&nbsp;&nbsp;|&nbsp;&nbsp;612-655-3606{{/link-to}}
      </h4>
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#nav.item}}{{#nav.link-to "main"}}Home{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "individual"}}Individual{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "small-business"}}Small Business{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "enterprise"}}Enterprise{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "ebook"}}eBooks{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "contact"}}Contact{{/nav.link-to}}{{/nav.item}}
      {{/navbar.nav}}
    {{/navbar.content}}
  {{/bs-navbar}}

</header>