<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src={{imageSrc}} height="225px"/>
    </a>
  </div>
  <div class="media-body">
    <h2 class="media-heading">{{mediaHeading}}</h2>
    <p>{{yield}}</p>
  </div>
</div>
<hr>