<h2>Previous Work Portfolio</h2>
<ul class="showcase">
  <li><a target="_blank" href="https://github.com/mgeatz">Michael's Public Code Repositories</a></li>
  <li><a target="_blank" href="http://www.learnaem.com/">Learn AEM, WordPress</a></li>
  <li><a target="_blank" href="http://upairway.com/">UP Airway, Custom Website using EmberJS</a></li>
  <li><a target="_blank" href="http://www.johns-machine-repair.com/">John's Sewing Machine Repair, WordPress</a></li>
  <li><a target="_blank" href="https://www.cru.org/cru17.html">CRU17, AEM - ES6, Angular, SASS,
    Sightly/HTL</a></li>
  <li><a target="_blank" href="https://www.cru.org/">CRU, AEM - Sightly/HTL, SASS</a></li>
  <li><a target="_blank" href="https://www.playsense.io/">Playsense, WordPress - KnockoutJS,
    RequireJS</a></li>
  <li><a target="_blank" href="https://www.uhcmilitarywest.com/">United Health Group, AEM -
    Angular</a></li>
  <li><a target="_blank" href="http://www.capella.edu/">Capella University, AEM, jQuery, SASS</a>
  </li>
  <li><a target="_blank" href="http://www.capella.edu/district-solutions">District Solutions, AEM
    - jQuery, SASS</a></li>
  <li><a target="_blank" href="http://www.mraa.com/">Marine Retailers Association, YM - jQuery,
    CSS</a></li>
  <li><a target="_blank" href="http://www.wayzatamarine.com/">Wayzata Marine, WordPress - HTML,
    CSS</a></li>
</ul>