<div class="thumbnail center_align">
  <i class={{icon}}></i>
  <div class="caption">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <button class="btn btn-secondary" {{action 'actionBubble' thumbParam}}>
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>

