{{outlet}}
{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Contact Information
      <small>Michael Geatz - Web Developer</small>
    </h1>
  </div>

  <section class="container">
    <ul>
      <li>Cell: 612-655-3606</li>
      <li>Email: mgeatz01@gmail.com</li>
    </ul>
  </section>
</section>