{outlet}}
{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Small Group Networking
      <small>Tips, Tricks, And Advice For Devs</small>
    </h1>
  </div>

  <section class="container">
    Coming soon...
  </section>

</section>