{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Pre Order
      <small>Access Tomorrow's Content Today</small>
    </h1>
  </div>

  <section class="container">

    <p>Thank you for your interest in Pre-Ordering the <b>'Becoming A Developer'</b> eBook. Our website is currently under
    construction, so please submit the form below to inform us of your interest and we will reach out with further
      details about your pre-order.</p>


    {{input value=name placeholder='Full Name'}}
    {{input value=email placeholder='Email Address'}}

    <button class="btn btn-primary"
    {{action 'submitInfo' on='click'}}>Submit</button>

  </section>

</section>