{{outlet}}
{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Small Business Services
      <small>Web Design, Hosting, Domain Name</small>
    </h1>
  </div>

  <section class="container">

    <div class="center_align">
      <h2>Websites Designed For Small Businesses</h2>
      <h4>Starting At $500 Per Year</h4>
      <hr>
    </div>

    <p>Basic website package starts at $500 per year. Includes:</p>
    <ul>
      <li>Friendly webmaster to help answer your questions</li>
      <li>5 page website</li>
      <li>2 contact forms</li>
      <li>1 landing page for lead generation</li>
      <li>SEO optimization</li>
      <li>Initial content</li>
      <li>Initial imagery</li>
      <li>Easy-to-use Content Management Platform</li>
      <li>Content management documentation</li>
      <li>Hosting</li>
      <li>Domain name registration</li>
    </ul>

  </section>

</section>