{{outlet}}
{{mini-hero-video}}

<section class="container-fluid sub_page">
  <div class="container page-header">
    <h1>Small Business Services
      <small>Web Design, Hosting, Domain Name</small>
    </h1>
  </div>

  <section class="container">

    <div class="center_align">
      <h2>Designed For Small Businesses</h2>
      <h4>Websites Starting At $599 Per Year</h4>
      <hr>
    </div>

    <h3>Website Package</h3>
    <p>$599 per year, includes:</p>
    <ul>
      <li>Friendly webmaster to help answer your questions</li>
      <li>5 page website</li>
      <li>1 contact forms</li>
      <li>SEO optimization</li>
      <li>Initial content</li>
      <li>Initial imagery</li>
      <li>Easy-to-use Content Management Platform</li>
      <li>Content management documentation</li>
      <li>Hosting</li>
      <li>Domain name registration</li>
    </ul>

    {{#bs-accordion as |acc|}}
      {{#acc.item value=1 title="Optional Additional Features:"}}
        <p>The items listed below are not rolled into the annual payment
          - they are a one time charge, if chosen.</p>
        <ul>
          <li>Additional Form ($25)</li>
          <li>Comparison table ($25)</li>
          <li>Calendar ($25)</li>
          <li>1 landing page for lead generation ($50)</li>
          <li>Basic Online Payment ($50)</li>
          <li>Online Application Submission ($50)</li>
          <li>Basic Scheduling Assistant ($100)</li>
          <li>Basic 3 Step Wizard ($250)</li>
          <li>Ecommerce functionality ($500)</li>
          <li>Custom Scheduling Assistant Calendar ($2,500)</li>
          <li>Custom Wizard ($3,500)</li>
          <li>Custom Online Billing Management ($5,000)</li>
          <li>Site maintenance credit ($75)</li>
        </ul>
      {{/acc.item}}
    {{/bs-accordion}}
    <hr>
    <h2>Previous Work Portfolio</h2>
    <ul class="showcase">
      <li><a target="_blank" href="https://github.com/mgeatz">Michael's Public Code Repositories</a></li>
      <li><a target="_blank" href="http://www.learnaem.com/">Learn AEM, WordPress</a></li>
      <li><a target="_blank" href="http://upairway.com/">UP Airway, Custom Website using EmberJS</a></li>
      <li><a target="_blank" href="http://www.johns-machine-repair.com/">John's Sewing Machine Repair, WordPress</a></li>
      <li><a target="_blank" href="https://www.cru.org/cru17.html">CRU17, AEM - ES6, Angular, SASS,
        Sightly/HTL</a></li>
      <li><a target="_blank" href="https://www.cru.org/">CRU, AEM - Sightly/HTL, SASS</a></li>
      <li><a target="_blank" href="https://www.playsense.io/">Playsense, WordPress - KnockoutJS,
        RequireJS</a></li>
      <li><a target="_blank" href="https://www.uhcmilitarywest.com/">United Health Group, AEM -
        Angular</a></li>
      <li><a target="_blank" href="http://www.capella.edu/">Capella University, AEM, jQuery, SASS</a>
      </li>
      <li><a target="_blank" href="http://www.capella.edu/district-solutions">District Solutions, AEM
        - jQuery, SASS</a></li>
      <li><a target="_blank" href="http://www.mraa.com/">Marine Retailers Association, YM - jQuery,
        CSS</a></li>
      <li><a target="_blank" href="http://www.wayzatamarine.com/">Wayzata Marine, WordPress - HTML,
        CSS</a></li>
    </ul>

  </section>

</section>
